section {
  width: 1920px;
}

.back-icon {
  position: absolute;
  top: 57px;
  left: 62px;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.back-icon:hover {
  background-color: #e6e4e4;
  cursor: pointer;
}

.input-container {
  width: 1098px;
  height: 1080px;
  background-color: #f9f9f9;
}

.input-wrapper {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.education-div {
  justify-content: space-between;
  height: 533px;
}

header {
  width: 100%;
  padding: 40px 0 10px 0;
  border-bottom: 1px solid #1a1a1a;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

#schoolName {
  padding: 13px 16px 14px 16px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  /* background-image: url(../images/Checked-icon.png); */
  background-position: 98%;
  background-repeat: no-repeat;
}

#schoolDegree,
#studyEndDate {
  width: 355px;
  height: 48px;
  padding-left: 16px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 8px;
}

option {
  font-size: 20px;
}

.warning-message {
  font-size: 14px;
  color: #2e2e2e;
}

#studyDescription {
  padding: 13px 16px 69px 16px;
  font-size: 16px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  resize: none;
  /* background-image: url(../images/Checked-icon.png); */
  background-position: 98%;
  background-repeat: no-repeat;
}

.divider {
  width: 800px;
  height: 1px;
  margin: 45px 0;
  background-color: #c1c1c1;
}

#addExperienceBtn {
  width: 299px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #62a1eb;
  color: #ffffff;
}

#addExperienceBtn:hover {
  cursor: pointer;
  background-color: #89c0ff;
}

.prev-next-container {
  width: 800px;
  margin-bottom: 79px;
}

#prevBtn {
  width: 131px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #6b40e3;
}

#nextBtn {
  width: 151px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #6b40e3;
}

#nextBtn:hover,
#prevBtn:hover {
  background-color: #7949ff;
  cursor: pointer;
}

.result-container {
  width: 822px;
}

.user-wrapper {
  width: 90%;
  margin: 48px auto 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #c8c8c8;
}

.user-result {
  width: 450px;
}

.profile-picture {
  width: 246px;
  height: 246px;
  border-radius: 50%;
}

#firstnameResult {
  margin-right: 10px;
}

.user-result h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 17px;
  margin-right: 10px;
  color: #f93b1d;
}

.user-result div:nth-child(3) {
  margin-bottom: 10px;
}
.user-result div:nth-child(4) {
  margin-bottom: 34px;
}

.user-result div:nth-child(3) img,
.user-result div:nth-child(4) img {
  margin-right: 11px;
}

.user-result span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #f93b1d;
}

.experience-result h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #f93b1d;
}

.job-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 17px;
}

.work-dates {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 10px;
  color: #909090;
}

.job-description {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}
.school-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 17px;
}

.study-dates {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  color: #909090;
}

.study-description {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}
